@import url(https://fonts.googleapis.com/css?family=Raleway:800);

@media screen and (max-width: 500px) {
	*{
		margin: auto;
	}
	.logo{

	}
	.sleepBugLogo{
		color: #2d2e4e;
		font-family: 'Raleway';
		font-weight: bold;
	}
}